body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                          'header section aside div'
                          'footer footer footer footer';
    grid-template-rows: 20vh 70vh 40vh;
}
nav{
    grid-area: navbar;
  
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header{
    grid-area: header;
    background-color: green;
}
section{
    grid-area: section;
    background-color: pink;
}
aside{
    grid-area: aside;
    background-color: orange;
}
footer{
    grid-area: footer;
    background-color: gray;
}
div {
    grid-area: div;
    background-color: brown;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
img{
    cursor: pointer;
    display: none;
   
}
a:hover{
    color: white;
}
@media(max-width: 768px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                            'header header section section'
                            'aside aside div div'
                            'footer footer footer footer';
        grid-template-rows: 20vh 70vh 70vh 40vh;
    }
    nav a{
        display: none;
    }
    nav img{
        display: block;
        width: 30px;
    }
}
@media(max-width: 475px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                            'header header header header'
                            'section section section section'
                            'aside aside aside aside'
                            'div div div div'
                            'footer footer footer footer';
        grid-template-rows: 20vh 50vh 50vh 50vh 50vh 40vh;
    }
    nav a{
        display: none;
    }
    nav img{
        display: block;
        width: 30px;
    }
}